calibre/
chromium
configstore
dconf
enchant
eog/
fcitx
freeplane/
gedit/
gtk-2.0/
nautilus/
pavucontrol.ini
pulse/
QtProject.conf
Thunar
totem/
transmission/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
vlc
xfce4
yarn/
zsh-git-prompt
zsh/history
