calibre/
chromium
configstore
dconf
etcher-electron/
enchant
eog/
fcitx
freeplane/
gedit/
gtk-2.0/
menus/
nautilus/
pavucontrol.ini
pine64-installer/
pulse/
QtProject.conf
Thunar
totem/
transmission/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
vlc
xfce4
yarn/
zsh-git-prompt
zsh/history
